@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;400;700 & display=swap');

:root{
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4d41c0;
    --white: #fff;
}

/*pega todos elementos da pagina */
/*Seletor Global "*" */
*{
    /*para as bordas dos elementos não ocupe area */
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body{
    background-color: #E8E8E8;
}

header{
    background: #4D41C0;
    color: #ffff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max
}

/*O atributo hover é aquele usado quando passamos o cursor do mouse por cima de algum elemento na página html*/
a , a:hover{
    /*unset sem cor definida*/
    color: unset;
    /*tirando o sublinhado*/
    text-decoration: none ;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img{
    margin-right: 10px;
}

#dsmovie-card-list{
    /*padding espaçamento interno altura e largura*/
    padding: 40px o;
}

.dsmovie-card{
    width: 360px;
    
}

.dsmovie-card img{
    /*Largura*/
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card-desription{
    padding: 10px 0 20px 0;
    display: flex;
    /*para deixar um abaixo do outro em forma de colunas*/
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
}

.dsmovie-card-desription h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

/*-------------- :hover efeito do mouse */
.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    /*tamanho da fonte*/
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}